.THIS .rdna-link-padding {
    padding-left: 15px;
    font-family: Logical;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #0066ff;
}
.THIS .rdna-link-height {
    line-height: 1.57;
}

.THIS .slds-table {
    background-color: #fafafa !important;
}

.THIS .slds-table thead th{
    background-color: #fafafa !important;
}
.THIS .rdna-bgcolor{
    background-color: #fafafa !important;
}
.THIS .OvalCriteria {
   	padding-top: 9px;
    width : 20px;
    height :29px;
    margin-right: 23px;
    margin-top: 8px;
    margin-bottom: 16px;
    
}