.THIS .rdna-field-values {
    background-color: #fafafa !important;
    font-family: Logical !important;
    font-size: 14px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    line-height: 1.43;
    color: #000000;
}
.THIS .rdna-button-text{
    color: #ffffff !important;
    text-align: center;
    
}

.THIS .bottomDropdown {
    font-family: Logical;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.THIS .rdna-button-text-before{
    color: #cccccc !important;
    background: #ffffff !important;
    border-color: #cccccc !important;
    width: 75px;
    height: 30px;
    border-radius: 6px;
    text-align: center !important;
    text-decoration-line: none !important;
}

.THIS .slds-button{
    color: #0066ff !important;
    background: #ffffff !important;
    border-color: #0066ff !important;
    width: 75px;
    height: 30px;
    border-radius: 6px;
    text-align: center !important;
    
    
    
}

.THIS .slds-button:disabled {
    color: #cccccc !important;
    background: #ffffff !important;
    border-color: #cccccc !important;
    width: 75px;
    height: 30px;
    border-radius: 6px;
    text-align: center !important;
}