.THIS .slds-card{
    width: 640px;
    height: 316px;
    border-radius: 6px;
    border: solid 1px #0066ff;
    background-color: #ffffff;
}
.THIS .slds-textarea{
    width: 610px !important;
    height: 134px !important;
    border-radius: 6px;
    border: solid 1px #979797;
}
.THIS .rdna-text-heading_small{
    font-family: Logical;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0;
    color: #000000;
}
.THIS .rdna-bgcolor{
    width: 24px;
    height: 24px;
    
}
/*--new--*/
.THIS .email-card .slds-card{
    width: 640px;
    height: 270px;
    border-radius: 6px;
    border: solid 1px #0066ff;
    background-color: #ffffff;
}
.THIS .email-card .rdna-bgcolor{
    width: 36px;
    height: 24px;    
}
.THIS .email-card textarea{
    height: 143px !important;
}