.THIS {
}

.THIS .cols-table table thead th span{ 
    font-size: 11px;
    text-transform: capitalize;
    font-family: Logical;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: normal;
    color: #000000;
}
/*participants header*/
.THIS .cols-table table thead tr th span {
   background-color: #eaeaea !important;
   
}
.THIS .cols-table table thead tr th div {
   background-color: #eaeaea !important; 
     
}
.THIS .cols-table table thead tr th span a {
   background-color: #eaeaea !important; 
}
.THIS .slds-table_header-fixed_container{
    
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
/* table body css*/
.THIS .cols-table table tbody tr th a{
    color: #0066ff!important;
    background-color: #ffffff !important;
}
.THIS .cols-table table tbody tr td a{
    color: #0066ff!important;
    background-color: #ffffff !important;
}
.THIS .cols-table table tbody tr{
    background-color: #ffffff !important;
}
.THIS .cols-table table tbody tr th{
    background-color: #ffffff !important;
}
.THIS .cols-table table tbody tr td{
    background-color: #ffffff !important;
}
.THIS .cols-table table tbody tr td div{
    background-color: #ffffff !important;
}

.THIS .cols-table div table tbody tr th div {
    background-color: #ffffff !important;
    border: none!important;
}
.THIS .cols-table table tbody tr{
    border: none !important;
    height: 47px;
    font-family: Logical !important;
    font-size: 14px !important;
    line-height: 1.43 !important;
}