/* Logo css logical lato*/
.THIS .rdna-logo{
    padding-top : 8px;
    width : 32px;
    height :40px;
}
/*background css */
.THIS .rdna-background{
    background-color: rgb(243, 242, 242) !important;
}
/*Header css */
.THIS .rdna-header-small {
  font-family: Logical;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.THIS .rdna-header-large { 
  font-family: Logical;
  font-size: 38px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
/* Sub Header*/
.THIS .rdna-sub-header-bold{
    font-family: Logical;
    font-weight: bold;
    font-size: 24px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
.THIS .rdna-sub-header{
    font-family: Logical;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
/*Button*/
.THIS .rdna-button{
    border: 1.4px solid #0066ff !important;
    border-color: #0066ff  !important;
    border-radius: 6px 6px 6px 6px  !important;
    background: #fafafa !important;
}
.THIS .rdna-button-text{
    font-family: Logical;
    font-size: 14px !important;
    text-align: center;
    color: #0066ff;
    
    padding-top: 2px;
}
/*Fields lable and values*/
.THIS .rdna-field-label {
    font-family: Logical;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: normal;
    color: #000000;
    background-color: #fafafa !important;
}

.THIS .rdna-field-values {
    background-color: #fafafa !important; 
    font-family: Logical !important;
    font-size: 14px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}

.THIS .rdna-field-values-bold {
    background-color: #fafafa !important;
    font-family: Logical !important;
    font-size: 14px !important;
    font-weight: bold !important;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
/*Set label css (Default class is updated) */
.THIS .slds-form-element__label{
    font-family: Logical;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.82;
    letter-spacing: normal;
    color: #000000;
    background-color: #fafafa !important;
}
/*Updated all input box(Default class is updated)*/
.THIS .slds-input {
    font-family: Logical !important;
    font-size: 14px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    color: #000000 !important;
    background-color: #fafafa !important;
    border-radius: 6px !important;
}
/*Updated all input dropdown(Default class is updated)*/
.THIS .slds-select {
    font-family: Logical !important;
    font-size: 14px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    color: #000000 !important;
    background-color: #fafafa !important;
    border-radius: 6px !important;
}

/*-----table css---------------------------------*/
.THIS .cols-table table thead tr th {
    font-family: Logical !important;
    font-size: 11px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 1.82 !important;
    letter-spacing: normal !important;
    color: #000000 !important;
}
.THIS .cols-table table tbody tr td {
    border: none !important;
    font-family: Logical !important;
    font-size: 14px !important;
    line-height: 1.43 !important;
}

.THIS .cols-table table tbody tr th {
    border: none  !important;  
    font-family: Logical !important;
    font-size: 14px !important;
    color: #0066ff !important;
    line-height: 1.43 !important;
}

/*@font-face {
    font-family: 'Logical';LogicalFontRegular
    src: url(/resource/RDNACadence__LogicalFontRegular) format('woff');
}*/


@font-face {
    font-family: 'Logical';
    src: url(/resource/RDNACadence__LogicalFontRegular) format('woff');
}

/*----- useful table css---------------------------------*/
.THIS .Oval {
    width : 30px;
    height :30px;
    margin-left: 6px;
}

.THIS .OvalPLIs {
    width : 20px;
    height :20px;
    margin-left: 6px;
}
/*----------------------progress bar css-----------------------------------------------*/
.THIS .slds-progress-bar {
    height: 10px;
    border-radius: 6px;
    background-color: #cccccc;
}
.THIS .rdna-progress-bar__value_in-progress{
    background-color:#cccccc !important;
}
.THIS .rdna-progress-bar__value_progress_color{
    color:#cccccc !important;
}
.THIS .rdna-progress-bar__value_in-active{
    background-color:#0066ff !important;
}
.THIS .rdna-progress-bar__value_active_color{
    color:#0066ff !important;
}
.THIS .rdna-progress-bar__value_error{
    background-color: rgb(194, 57, 52) !important;
}
.THIS .rdna-progress-bar__value_error_color{
    color:red !important;
}
.THIS .rdna-progress-bar__value_success{
    background-color:#33cc99 !important;
}
.THIS .rdna-progress-bar__value_success_color{
    color:#33cc99 !important;
}

.THIS .setRdnaText{
    font-family: Logical;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color:#cccccc;
}
/*---------------------------------------------------------*/


.THIS div{
   background-color: #fafafa !important; 
}