.THIS .slds-grid_align-end {
    justify-content: flex-start !important;
}
.THIS .slds-scrollable_y {
    overflow-y:visible !important; 
    overflow-x:visible !important;
}
.THIS .rdna-logo{
    padding-top : 8px;
    width : 32px;
    height :40px;
}
/*Header css */
.THIS .rdna-header-small {
  font-family: Logical;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.THIS .rdna-header-large { 
  font-family: Logical;
  font-size: 38px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
/*Header css */
/*-----table css---------------------------------*/
.THIS .cols-table table thead tr th {
    font-family: Logical !important;
    font-size: 11px !important;
    font-weight: normal !important;
    font-style: normal !important;
    font-stretch: normal !important;
    line-height: 1.82 !important;
    letter-spacing: normal !important;
    color: #000000 !important;
    background-color: #eaeaea;
}
/*-----table css---------------------------------*/
.THIS .cols-table table tbody tr td {
    border: none !important;
    font-family: Logical !important;
    font-size: 14px !important;
    line-height: 1.43 !important;
    height: 47px;
    background-color: #ffffff;
}
.THIS .cols-table table tbody tr th {
    border: none  !important;    
    font-family: Logical !important;
    font-size: 14px !important;
    color: #0066ff !important;
    line-height: 1.43 !important;
    background-color: #ffffff;
}
/*-----table css---------------------------------*/
/*Button*/
.THIS .rdna-button{
    border: 1.4px solid #0066ff !important;
    border-color: #0066ff  !important;
    border-radius: 6px 6px 6px 6px  !important;
    background: #fafafa !important;
}
.THIS .rdna-button-text{
    font-family: Logical;
    font-size: 14px !important;
    text-align: center;
    color: #0066ff;
}
.THIS .cols-table table thead th span{ 
    font-size: 11px;
    text-transform: capitalize;
}
.THIS .cols-table .slds-button_icon-bare{ 
    display: none;
}
@font-face {
    font-family: 'Logical';
    src: url(/resource/RDNACadence__LogicalFontRegular) format('woff');
}
/* Cadences datatable header */
.THIS .cols-table table thead tr th span {
   background-color: #eaeaea !important;  
}
.THIS .cols-table table thead tr th div {
   background-color: #eaeaea !important; 
}
.THIS .cols-table table thead tr th span a {
   background-color: #eaeaea !important; 
}
.THIS .cols-table table tbody tr th div a {
   font-size: 14px;
   color: #0066ff !important;
}
/* dropdown styling */
.THIS .slds-button_icon-border{
    color: #000000;
    border-color: #ffffff !important;
    border-radius: none;
}
.THIS div div a {
  font-family: Logical;
  font-size: 11px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center !important;
  line-height: 1.64;
  letter-spacing: normal;
  color: #000000;
}
.THIS div table tbody tr td div div{
    border-radius: 3px;
    text-align: center !important;
    /*margin-top: 5px;
    margin-right: 5px;*/
    border-color: #0066ff  !important;
    background-color: #ffffff;
}
.THIS .slds-table_header-fixed_container{
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.THIS .rdna-button-cancel{
  border-radius: 6px !important;
  border: solid 1px #979797 !important;
  background-color: #fafafa !important;
}
.THIS .rdna-button-send{
    border: 1.4px solid #0066ff !important;
    border-color: #0066ff  !important;
    border-radius: 6px !important;
    background-color: #fafafa !important;   
}
.THIS .rdna-button-send-text{
    font-family: Logical;
    font-size: 14px !important;
    text-align: center;
    color: #0066ff;
}
.THIS .rdna-button-cancel-text{
    font-family: Logical;
    font-size: 14px !important;
    text-align: center;
    color: #979797;
}
.THIS .heading{
    font-family: Logical;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}